.edit-post-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .edit-post-heading {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-input,
  .form-textarea {
    width: calc(100% - 22px); /* Adjusted width */
    margin-right: 11px; /* Equal margin on both sides */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-textarea {
  height: 70px;
  }
  
  .submit-btn {
    display: inline-block;
    width: calc(100% - 22px); /* Adjusted width */
    padding: 10px;
    margin-left: 9px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  .cancel-btn {
    display: inline-block;
    width: calc(100% - 22px); /* Adjusted width */
    padding: 10px;
    margin-left: 9px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } 

  .cancel-btn {
    background-color: #dc3545;
    color: #fff;
  }

  .cancel-btn:hover {
    background-color: #910b18;
  }