.list-group {
  list-style: none;
  padding: 0;
}

.list-group-item {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.list-group-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.list-group-item h4 {
  margin-bottom: 10px;
}

.list-group-item p {
  margin-bottom: 10px;
}

.list-group-item .btn-container {
  display: flex;
  justify-content: space-between;
}

.list-group-item .btn-container button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.list-group-item .btn-container button.edit-btn {
  background-color: #ffc107; /* Pleasant yellow color for Edit button */
  color: #000;
  padding: 8px 16px;
}

.list-group-item .btn-container button.delete-btn {
  background-color: #dc3545; /* Decent red color for Delete button */
  color: #fff;
  padding: 8px 16px;
}

.list-group-item .btn-container button:hover {
  transform: translateY(-2px);
  filter: brightness(1.2); /* Increase brightness on hover */
}

@media screen and (max-width: 768px) {
  .list-group-item {
    padding: 10px;
  }

  .list-group-item .btn-container button {
    padding: 6px 12px;
  }
}
