/* App.css */

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.post {
  background-color: #1288cc;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.post:hover {
  transform: translateY(-5px);
}

.post h3 {
  margin-bottom: 10px;
}

.post p {
  margin-bottom: 15px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Delete button */
.delete-btn {
  background-color: #ff6347; /* Red color */
}

.delete-btn:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

/* Edit button */
button.edit-btn{
  background-color: #09acc9; /* Blue color */
}

button.edit-btn:hover {
  background-color: #11b944; /* Darker blue on hover */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Pagination buttons */
.page-link {
  color: #0090e4;
  padding: 8px 16px;
  margin: 0 5px;
  border: 1px solid #00438b;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.page-link:hover {
  background-color: #f0f0f0;
}
